apiVersion: apps/v1
kind: StatefulSet
metadata:
  name:  {{ name }}
spec:
  selector:
    matchLabels:
      app: {{ name }} 
  serviceName: "{{ name }}"
  podManagementPolicy: "Parallel"
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      terminationGracePeriodSeconds: 10
      nodeSelector:
        kubernetes.io/hostname: 10.111.209.190
      containers:
      - name: {{ name }}
        image: hub.pri.ibanyu.com/service/{{ name }}:{{ tag }}
        imagePullPolicy: Always
        args:
          - -serv
          - {{ serv_path }}
          - --skey
          - "$(MY_POD_NAME)"
        env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        volumeMounts:
        - name: log-dir
          mountPath: /data/servicelog/wread0
      volumes:
      - name: log-dir
        hostPath:
          path: /data/servicelog/wread0
          type: Directory
